<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
            <div>
                <div class="card border-primary">
                    <div class="card-header bg-primary text-light">
                        <h3 class="card-title" style="height: 16px" th:text="${recipe.description}">Recipe Description Here!</h3>
                    </div>
                    <div style="margin: 10px">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>Categories:</h6>
                            </div>
                            <div class="col-md-9">
                                <ul th:each="category,iter : ${recipe.categories}">
                                    <li th:text="${category.getDescription()}">cat one</li>
                                    <li th:remove="all">cat two</li>
                                    <li th:remove="all">cat three</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>Prep Time:</h6>
                            </div>
                            <div class="col-md-3">
                                <div th:text="${recipe.getPrepTime()} + ' min'">30 min</div>
                            </div>
                            <div class="col-md-3">
                                <h6>Difficulty:</h6>
                            </div>
                            <div class="col-md-3">
                                <div th:text="${recipe.getDifficulty()}">Easy</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>Cooktime:</h6>
                            </div>
                            <div class="col-md-3">
                                <div th:text="${recipe.getCookTime()} +' min'">30 min</div>
                            </div>
                            <div class="col-md-3">
                                <h6>Servings:</h6>
                            </div>
                            <div class="col-md-3">
                                <div th:text="${recipe.getServings()}">4</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>Source:</h6>
                            </div>
                            <div class="col-md-3">
                                <div th:text="${recipe.getSource()}">30 min</div>
                            </div>
                            <div class="col-md-3">
                                <h6>URL:</h6>
                            </div>
                            <div class="col-md-3">
                                <div th:text="${recipe.getUrl()}">http://www.example.com</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-primary" style="margin-top:20px">
                    <div class="card-header bg-primary text-light">
                        <h3 style="height: 16px" class="card-title">Ingredients</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 10px">
                            <ul th:each="ingredient,iter : ${recipe.ingredients}">
                                <li th:text="${ingredient.getDescription() + ' - ' + ingredient.getAmmount() +' '+ ingredient.getUom().getDescription()}">
                                    1 Cup of milk
                                </li>
                                <li th:remove="all">1 Teaspoon of chocolate</li>
                                <li th:remove="all">1 Teaspoon of Sugar</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card border-primary" style="margin-top:20px">
                    <div class="card-header bg-primary text-light">
                        <h3 style="height: 15px" class="card-title">Directions</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="margin:10px" th:text="${recipe.getDirections()}">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Donec efficitur et turpis
                                quis suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas. Donec a ante scelerisque, varius lectus ut, egestas elit.
                                Pellentesque venenatis sed turpis nec vestibulum. Suspendisse venenatis tellus in
                                magna sollicitudin, at pulvinar eros iaculis. Morbi ultricies est nec porta
                                fermentum. Integer felis dui, sagittis id ullamcorper eget, cursus nec velit.</p>
                        </div>
                    </div>
                </div>
                <div class="card border-primary" style="margin-top:20px; margin-bottom: 20px">
                    <div class="card-header bg-primary text-light">
                        <h3 style="height: 16px" class="card-title">Notes</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="margin:10px" th:text="${recipe.getNotes().getRecipeNotes()}">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Donec efficitur et turpis
                                quis suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas. Donec a ante scelerisque, varius lectus ut, egestas elit.
                                Pellentesque venenatis sed turpis nec vestibulum. Suspendisse venenatis tellus in
                                magna sollicitudin, at pulvinar eros iaculis. Morbi ultricies est nec porta
                                fermentum. Integer felis dui, sagittis id ullamcorper eget, cursus nec velit.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>